<h1>Listado de Productos</h1>
{{#if productos.length}}

<table class="table table-dark table-striped">
    <tr>
        <th>Nombre Producto</th>
        <th>Precio</th>
        <th>Foto Producto</th>
    </tr>
    <br>
    {{#each productos}}
    <tr>
        <td>{{this.nombre}}</td>
        <td>$ {{this.precio}}</td>
        <td>{{this.url}}</td>
    </tr>
    {{/each}}

</table>
{{else}}

<h2>Sin productos registrados</h2>
{{/if}}

<div class="">
    <form action="/" method="get">
        <button type="submit">Ingresar productos</button>
    </form>
</div>