extends layout

block tabla

    div.container 

        h1 Listado de Productos

        if productos.length > 0

            table(class="table table-dark table-striped")
                tr
                    th Nombre Producto
                    th Precio
                    th Foto Producto
                br
                each val in productos
                    tr
                        td: =  val.nombre
                        td: =  val.precio
                        td 
                            img(src=val.url style="width: 40px; heigth: 40px")

        else 
            h2 No hay productos


    div.container
        form(action="/" method="get")
            button(type="submit") Ingresar productos
            
