<%- include('./index') -%>

<body>
    
<div class="container">
    <h1 style="color: blue">Registro de Productos</h1>

    <fieldset style="border: 2px solid; padding: 5px;">
        <legend style="color: blue">Formulario de ingreso</legend>
        <form action="/productos" method="post">
            <div class="mb-3">
                <label for="nombreProducto" class="form-label">Nombre Producto</label>
                <br>
                <input type="text" class="form-control" name="nombre" placeholder="Nombre Producto" required>
            </div>
            <div class="mb-3">
                <label for="precio" class="form-label">Precio</label>
                <br>
                <input type="number" class="form-control" name="precio" placeholder="$$" required>
            </div>
            <div class="mb-3">
                <label for="url" class="form-label">Foto producto</label>
                <br>
                <input type="text" class="form-control" name="url" placeholder="URL" required>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Enviar</button>

        </form>
    </fieldset>
</div>
<br>


