<%- include('./formulario') -%>

<div class="container">
    <form action="/productos" method="get">
    <button type="submit" class="btn btn-primary">Ver listado de productos</button>
    </form>

</div>
</body>
